{% extends "layout.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="text-left">
      <h2>O mnie</h2>
      <p class="fw-semibold">Damian Wilamek</p>
      <button
        type="button"
        class="btn btn-success"
        onclick="showAlert('success')"
      >
        Success
      </button>
      <button
        type="button"
        class="btn btn-danger"
        onclick="showAlert('danger')"
      >
        Danger
      </button>
      <button
        type="button"
        class="btn btn-warning"
        onclick="showAlert('warning')"
      >
        Warning
      </button>
    </div>
  </div>

  <div id="custom-alert" class="alert d-none" role="alert">
    <span id="alert-message"></span>
  </div>

  <script>
    function showAlert(type) {
      var alertDiv = document.getElementById("custom-alert");
      var messageSpan = document.getElementById("alert-message");

      switch (type) {
        case "success":
          messageSpan.textContent = "Success";
          alertDiv.className = "alert alert-success";
          break;
        case "danger":
          messageSpan.textContent = "Error";
          alertDiv.className = "alert alert-danger";
          break;
        case "warning":
          messageSpan.textContent = "Warning";
          alertDiv.className = "alert alert-warning";
          break;
        default:
          break;
      }

      alertDiv.style.display = "block";
    }
  </script>

  {% endblock %}
</div>
