{% extends "layout.html" %} {% block content %}
<div class="container mt-5">
  <h2 class="text-center">Tabela</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Imię</th>
        <th scope="col">Nazwisko</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Anna</td>
        <td>Nowak</td>
        <td>anna.nowak@gmail.com</td>
      </tr>
      <tr>
        <td>Jan</td>
        <td>Kowalski</td>
        <td>jan.kowalski@onet.pl</td>
      </tr>
      <tr>
        <td>Katarzyna</td>
        <td>Wójcik</td>
        <td>katarzyna.wojcik@gmail.com</td>
      </tr>
      <tr>
        <td>Piotr</td>
        <td>Wojciechowski</td>
        <td>piotr.wojciechowski@wp.pl</td>
      </tr>
      <tr>
        <td>Magdalena</td>
        <td>Kwiatkowska</td>
        <td>magdalena.kwiatkowska@gmail.com</td>
      </tr>
      <tr>
        <td>Mateusz</td>
        <td>Krawczyk</td>
        <td>mateusz.krawczyk@onet.pl</td>
      </tr>
      <tr>
        <td>Alicja</td>
        <td>Zieliński</td>
        <td>alicja.zielinski@gmail.com</td>
      </tr>
      <tr>
        <td>Tomasz</td>
        <td>Szymański</td>
        <td>tomasz.szymanski@wp.pl</td>
      </tr>
      <tr>
        <td>Ewa</td>
        <td>Włodarczyk</td>
        <td>ewa.wlodarczyk@gmail.com</td>
      </tr>
      <tr>
        <td>Krzysztof</td>
        <td>Jaworski</td>
        <td>krzysztof.jaworski@onet.pl</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
